@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #191919;
    color: rgb(249, 250, 252);
}

/* Estilização da parte do header, da barra de navegação*/

.navegacao {
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    width: 100%;
    height: 15vh;

   
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: ;
    border-radius: 4px;
    box-shadow: 0 2px    #584cc5, 0 1px 0  #424d503f, 0 2px   #4d535588;

}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 10px;
    padding: 0px 10px;
}
ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 60px;

}
.list-nav {
    margin: 0px 10px;
    list-style: none;
    
}
.link {
    padding: 10px 10px;
    transform: 2ms ease-in;
    position: relative;

    border: ;
    border-radius: 7px;

    text-decoration: none;
    font-size: 20px;
    color:#584cc5;
}
.link::before{
    content: '';
    position: absolute;
    
    
    bottom:0;
    left: 0;
    right: 0;
    border: 0px solid;
    width: 0;
    height:2px ;
    border-bottom: 2px;
    border-radius: 7px;
    background-color: hsla(191, 100%, 78%, 0.349);
    transition: all 0.9s ease;
    color:#191919;
    

}
.link:hover:before{
   
   
   
    width: 100%;

   
}
.link:hover{
    color: #90ebff;
    transition: all 0.9s;
}
.linkc{
    margin: 0px 10px;
    padding: 5px 10px;
    border: 0.2px solid #584cc5;
    background-color: #191919;
    border-radius: 7px;
    
    color: #191919;
    font-size: 14px;
    font-weight: 600;
    color: #584cc5;

}
.linkc:hover{
    background-color: #584cc5;
    color: #191919;
    cursor: pointer;
    transition: all 0.9s;
}
.linkc{
    text-decoration: none;
    color: #584cc5;
}
main{
    width: 100vw;
    height: 76vh;
    
}
.container-1{
    
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70vh;
    


}
.container-1-titulo{
    margin-left: 20px;
}
.titulo1{
    
    font-size: 16px;
    font-weight: 600;
    
}
.titulo2{
    font-size: 50px;
    font-weight: 800;
    color: #584cc5;
    
}
.titulo-efeito{
    color: #90EBFF;

}
.botao-social{
    margin-left: 20px;
    margin-top: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao-git {
    
    padding: 10px 20px;
    width: 100px;
    border: 0.1px solid #584cc5;
    text-decoration: none;
    color: #f8f8fa;
    text-align: center;
    


}
.botao-linke{
    
    padding: 10px 20px;
    width: 100px;
    border: 0.1px solid #584cc5;
    text-decoration: none;
    color: #f8f8fc;
    text-align: center;
    


}
.botao-git:hover{
    background-color: #584cc5;
    cursor: pointer;
    color: #191919;
    transition: all 0.9s;
}
.botao-linke:hover{
    background-color: #584cc5;
    cursor: pointer;
    color: #191919;
    transition: all 0.9s;

}
.img{
    height: 70vh;
    width: 50%;
}
.img2{
    background-image: url(/Projetos-Profissionais/portcompresso/WhatsApp_Image_2023-01-22_at_09.37.41-removebg-preview.png);
    
    background-repeat: no-repeat;
    background-position: center;
    background-color: #584cc5;
    background-size: 300px;
    border-radius: 100px;
    height: 50vh;
    width: 24vw;
    margin: 40px 10px 10px 10px;
    padding: 10px 5px;
}
   







.container-2{
    height: 70vh;
    width: 100%;
    padding: 20px 20px;
    background-color: #333333;
}
.sobre-container{
    margin: 10px 10px;
    padding: 10px 10px 40px 10px;
    text-align: center;
    color: #9792ca;
    

}
.titulo-sobre{
    font-size: 30px;
    font-weight: 800;

}
.sobre-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.card-habi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 260px;
    width: 220px;
    margin: 0px 20px 20px 20px;
    background-color: #191919;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgba(86, 86, 86, 0.465), 2px 2px 30px 1px rgba(45, 27, 51, 0.465);
}
.card-habi:hover{
    box-shadow: 1px 1px 20px 1px rgba(125, 52, 143, 0.465), 2px 2px 40px 1px rgba(45, 27, 51, 0.465);
    transition: all 0.7s;
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    

}
li{
    list-style: none;
    text-align: justify;
    font-size: 12px;
    margin-bottom:20px ;
}
.para1{
    text-align: inherit;
    font-size: 12px;
    margin-top: 5pxpx;
    padding: 0px 10px;
    text-align: justify;

}

.titulo1-sobre{
    color:#9792ca ;
    border-bottom: 0.1px solid #9792ca ;
}


.container-3{
    height: 60vh;

}