*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(226, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
   
}
.img{
    width: 95%;
    height: 70%;
    padding-left: 10px;
    padding-top: 10px;
    
   
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    width: 250px;
    height: 350px;
    background-color: white;
    box-shadow: box-shadow: 0px 20px 40px rgb(2, 2, 3, 0.5);
    border-radius: 6px;
    
}
h1{
    font-size: 16px;
    position: relative;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}
h3{
    font-size: 12px;
    text-align: center;
    margin-top: 6px;
}